<!DOCTYPE html>
<html>
    <head>
        <title>
            Creation of client page
        </title>
        <link rel = "stylesheet" href="Client.css">
    </head>

    <body>
        <div id="full">
        <h1> <b>Create a Client Profile</b></h1>
        <form id="CreateForm">
            <div>
                <label> Name </label><br>
                <input id="inp" type="text"  placeholder="Enter Name">
            </div>

            <div>
                <label> Email </label><br>
                <input id="inp" type="text"  placeholder="Enter Email">
            </div>

            <div>
                <label> Address </label><br>
                <input id="inp" type="text"  placeholder="Enter Address">
            </div>

            <div>
                <label> Password </label><br>
                <input id="inp" type="password"  placeholder="Enter password">
            </div>

            <div>
                <label> Repeat Password </label><br>
                <input id="inp" type="password"  placeholder="Repeat password">
            </div>
            <input type="submit" value="submit">
        </form>
        </div>
    </body>
</html>
