<!DOCTYPE html>
<html>
    <head>
        <title>
            Meeting scheduling
        </title>
        <link rel="stylesheet" href="Client.css">
    </head>

    <body>
        <div id="full">
        <h1> <b>Create a Meeting Schedule</b></h1>
        <form>
            <div>
                <label> Meeting Topic </label><br>
                <input id="inp" type="text"  placeholder="Enter Meeting Topic">
            </div>

            <div>
                <label> Number of People </label><br>
                <input id="inp" type="text"  placeholder="Enter Number of People">
            </div>

            <div>
                <label> Start Time </label><br>
                <input id="inp" type="datetime-local">
            </div>
            <br>
            <input type="submit" value="submit">
        </form>
        </div>
    </body>
</html>
